!!! Strict
%html{ html_attrs("en_EN") }
%head
  %title= site_title
  %meta{ :content => "text/html; charset=utf-8", "http-equiv" => "content-type" }/    
  %meta{ content: meta_description, name: "description"}/
  %meta{ content: meta_keywords, name: "keywords"}/
  %meta{ content: meta_author, name: "author"}/     
  %meta{ name: 'csrf-token', content: form_authenticity_token}/
  %meta{ name: 'csrf-param', content: 'authenticity_token'}/
  = stylesheet_link_tag "main"#, :cache =>  "cache/all"                                  
  = javascript_include_tag "jquery", "rails", "master"#, :cache => "cache/all" 
  = yield :head
  %script{ type: "text/javascript" }
    = yield :script
    $(function(){
    = yield :jquery
    });
  - if Rails.env == "production" && !analytics_tracker.blank?
    = render partial: "layouts/analytics"
%body{ class: "#{controller.controller_name} #{controller.action_name}"}
  #container 
    #header
      %h1
        = site_title
    %ul#nav
      - nav []
    #content
      - unless flash == {} || flash.nil?
        #flashes
          - flash.map do |key, value|
            - unless value.blank?
              %div{ :class => key }= value
            
      = yield
        
    #footer
      = footer_text